*							{ box-sizing: border-box; }

body						{ font-size: 72%; margin: 0; padding: 10px; background: #333; color: #eee; font-family: Arial, "Sans-Serif"; }

a							{ color: #bbb; }

#page						{ background: #555; padding: 10px; }


#header						{ clear: both; position: relative; }

#breadcrumb					{ display: inline-block; text-transform: uppercase; }
#breadcrumb a				{ border-radius: 4px;text-decoration: none; padding: 6px 8px; color: #ddd; display: inline-block; text-align: center; background: #444; margin-right: 6px; overflow: hidden; }
#breadcrumb a.last			{ background: #4b4b4b; }

#information				{ position: absolute; left: 42%; top: 0; display: inline-block; padding: 6px 8px; margin-left: 6px; color: #888; text-transform: lowercase; }

#search_activate			{ background-size: auto 100%; position: absolute; right: 0; top: 0; cursor:pointer; width: 26px; height: 26px; background-image: url('../images/svg/search.svg');	background-position: center; }
#search						{ display: none; position: absolute; right: 0; top: 0; }
#search input				{ border-radius: 4px; height: 26px; border: 1px solid #000; padding: 2px 4px; vertical-align: top;}

div.navigation				{ padding-top: 16px; width: 30%; margin-right: 1%; float: left; }
div.images					{ padding-top: 10px; width: 69%; float: left;  }
div.images.wide				{ width: 100%; float: none; }

a.folder					{ text-decoration: none; display: block; background: #666; color: #ddd; padding-left: 10px; line-height: 30px; height: 30px; overflow: hidden; margin-bottom: 2px; }
a.folder:hover				{ background: #777; color: #eee; }
a.folder.up					{ font-size: 16px; }
a.other-file				{ text-decoration: none; display: block; background: #333; color: #bbb; padding-left: 10px; line-height: 30px; height: 30px; overflow: hidden; margin-bottom: 2px; }
a.image						{ width: 12.5%; color: #FFF; float: left; text-align: center; padding: 6px; }
a.image img					{ width: 100%; }

#overlay					{ display: none; background: #111; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 20 !important; overflow: hidden; user-select: none;	}
#overlay img 				{ border: none !important; }
#container					{ position: relative; width: 100%; height: 100%; user-select: none; }
#slider 					{ display: inline-block; vertical-align:middle; height: 90%;	width: 100%; position: relative; text-align: center; user-select: none;}
#slider img				    { image-orientation: from-image; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; user-select: none; max-height: 90%; max-width: 100%;	transition: transform 2.9s ease;}

#image-nav					{ height: 10% }
#image-nav>div				{ height: 100%; background-size: auto 30%; background-repeat: no-repeat; float:left;}
#image-nav-size				{ cursor:pointer; width: 10%; background-image: url('../images/svg/size.svg'); background-position: center; }
#image-nav-size.active		{ background-image: url('../images/svg/size-active.svg');}
#image-nav-info				{ cursor:pointer; width: 10%; background-image: url('../images/svg/info.svg'); background-position: center; }
#image-nav-prev				{ width: 30%; background-image: url('../images/svg/prev.svg');	background-position: center; }
#image-nav-next				{ width: 30%; background-image: url('../images/svg/next.svg');	background-position: center; }
#image-nav-close		 	{ cursor:pointer; width: 20%; background-image: url('../images/svg/close.svg');	background-position: center; }

#info						{ overflow-y: scroll; overflow-x: hidden; display: none; position: absolute; right: 0; top: 0;  z-index: 21; height: 100%; width: 80%; background: #222; }
#info #info_inner			{ width: 100%; height: 100%; margin-top: 45px; }
#info #info_close			{ position: fixed; right: 20px; top: 10px;  z-index: 28; background-image: url('../images/svg/close.svg'); background-position: center; width: 24px; height: 24px; background-size: auto 100%;}
#info table					{ border-collapse: collapse; width: 100%;  }
#info table tr th			{ padding: 10px; text-align: left; }
#info table tr td 			{ border-top: 1px solid #444; padding: 10px;}
#info table tr:nth-child(odd) { background: #333;}

@media screen and (max-width: 1740px) {
	a.image { width: 12.5%;	}
}

@media screen and (max-width: 1540px) {
	a.image { width: 14.28%; }
}

@media screen and (max-width: 1340px) {
	a.image { width: 16.66%; }
}

@media screen and (max-width: 1170px) {
	a.image { width: 20%; }
}

@media screen and (max-width: 800px) {
	body { padding: 0; }
	#page { width: auto; }
	div.navigation, div.images	{ float: none; width: auto;	}
	div.images	{ margin: 0 -6px 0 -6px; }
	a.image { width: 16.66%; }
	a.folder { line-height: 46px; height: 46px; }
}

@media screen and (max-width: 650px) {
	a.image { width: 20%; }
}

@media screen and (max-width: 526px) {
	a.image { width: 25%; }
}

@media screen and (max-width: 432px) {
	a.image { width: 33.333%; }
	#info { overflow-x: scroll; }
}

@media screen and (max-width: 320px) {
	a.image { width: 50%; }
}
